# Byte-compiled  optimized  DLL files
__pycache__
.py[cod]
$py.class

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject dateother infos into it.
.manifest
.spec

# Builds
build/

# Environments
.venv
venv
venv/


# Other
testImages/*
.idea
*.varda

# exclude .vscode generally, but keep the launch.json
.vscode/*
!.vscode/launch.json

.DS_Store
Varda.log.*
UnitTest.log.*

.vscode
/testImages/
/test_images/
